<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href='{{url_for("static", filename="stylesheet.css")}}'>

        <title></title>
    </head>
    <body>
        <h1>Hello</h1>
        {%if link !=""%}
            Here is the <a href="{{link}}">link</a> to the download
            <br>
            <p>
                or if run locally <br>
                Here is the <a href="/{{real_link}}">link</a> to the download (Link will be added in the searchbar; remove the filename to get to the repository)<br>
                <a href="{{real_link}}">link</a>
            </p>
        {%else%}
            <p>Here are all the links:
            {%for link in links%}
                <a href="{{link}}">link</a>
            {%endfor%}
            </p>
        {%endif%}
        <br><br><a href="/downloads_folder">Downloads Folder</a>
    </body>


</html>