body{
	background-color:#FFFFFF;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	min-width: 480px;
	margin: 8px;
}
h1{
	padding: 0px;
	margin: 0px;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 4em;
}



#namen_liste{
	font-size: 2em;
	text-align: center;
}
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
}
a:hover{
	color: red;
}

.lines_image{
	min-height: 4em;
	background-repeat: repeat-x;
    background-image: url("lines.png");
    background-size: 65em;
    margin-bottom: 1em;
    width: 100%;
}
/*
#58585a grey
#cb984c gold
*/
.ganzer_Kommentar{
	margin-top: 1%;
	width:98.5%
}

.kommentar_box{
	padding: 0.25%;
	display: inline-block;
	width:100%;
	background: #58585a;
	text-align: left;

	border-color: #cb984c;
	border-width: 0.25em;
	border-style: solid;
	border-radius:0.5em;
	border-bottom-left-radius: 0;
	
	color: #EEE;

	font-size: 1em;
}

.Benutzer{
	display: inline-block;
	padding: 0.25%;
	margin-top: -0.25em;

	text-align: left;
	color: #BBB;

	background-color: #58585a;
	
	border-radius:0.5em;
	border-color: #cb984c;
	border-width: 0.25em;
	border-style: solid;
	border-top-style: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-color: #58585a;

	font-size: 1em;
}
.normal_box{
	padding: 0.25em;

	background-color: #58585a;

	border-color: #cb984c;
	border-width: 0.25em;
	border-style: solid;

	color: #BBB;
}

#kommentare_link{
	color: #BBB;
	text-decoration: underline;
}
#kommentare_link:hover{
	color: #FF474C;
}

.box_link_Collagen{
	width: 0.5vw;
	height: 0.5vw;
	color: #FFFFFF;
	background-color: #FFFFFF;
	position: fixed;
	top: 0vh;
	left: 99.5vw;
}
.box_link_pdf{
	width: 0.5vw;
	height: 0.5vw;
	color: #FFFFFF;
	background-color: #000000;
	position: fixed;
	top: 99vh;
	left: 99.5vw;
}

.alle_fotos{
	display: flex;
	flex-direction: column; 
	flex-wrap: wrap;
	max-height: 200em;
	max-width: 100em;
	min-width: 0;
	object-fit: cover;
	/*gap: 10px; platz zwischen den Fotos*/
}

.ein_foto{
	margin: 0px;
	padding: 0px;
	border: 0px;

	width: 25%;
	min-width: 0;
	object-fit: cover;
	
}

img{
	margin: 0px;
	padding: 0px;
	border: 0px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	vertical-align: bottom;
}
