table{
	background-color:black;
	width: 80%;
	margin: auto;
	
}
th{
	background-color:#6a6a6a;
}

td{
	background-color:#cfcfcf;
}

body{
	background-color:#FFFFFF;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;

/*	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	background: #FFFFFF/*url(https://images.unsplash.com/photo-1688821999533-b0b719348555?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1254&q=80);
	background-position: fixed;
	background-repeat:no-repeat;
*/
}
h1{
	padding: 0px;
	margin: 0px;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 4em;
}

#namen_liste{
	font-size: 2em;
	text-align: center;
}
a:visited{
	color: #0000ee;
}
a:hover{
	color: red;
}

.lines_image{
	min-height: 5%;
	background-repeat: repeat-x;
    background-image: url("lines.png");
    background-size: 65em;
}
/*
#58585a grey
#cb984c gold
*/
.ganzer_Kommentar{
	margin-top: 1%;
}

.kommentar_box{
	padding: 0.25%;
	display: inline-block;
	min-width:99.5%;
	background: #58585a;
	text-align: left;

	border-color: #cb984c;
	border-width: 0.25em;
	border-style: solid;
	border-radius:0.5em;
	border-bottom-left-radius: 0;
	
	color: #EEE;

	font-size: 1em;
}

.Benutzer{
	display: inline-block;
	padding: 0.1%;
	margin-top: -0.3em;

	text-align: left;
	color: #BBB;

	background-color: #58585a;
	
	border-radius:0.5em;
	border-color: #cb984c;
	border-width: 0.25em;
	border-style: solid;
	border-top-style: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-color: #58585a;

	font-size: 1em;
}
