table{
	background-color:black;
	width: 80%;
	margin: auto;
	
}
th{
	background-color:#6a6a6a;
}

td{
	background-color:#cfcfcf;
}

body{
	background-color:#FFFFFF;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
/*	background: #FFFFFF/*url(https://images.unsplash.com/photo-1688821999533-b0b719348555?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1254&q=80);
	background-position: fixed;
	background-repeat:no-repeat;
*/
}

.Benutzer{
	display: inline-block;
	padding: 0.1%;
	text-align: left;
	color: grey;
	background-color: #aaa;
	border-radius:0.5em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	margin-bottom: 0.1%;
}

.kommentar_box{
	padding: 0.25%;
	display: inline-block;
	min-width:100%;
	background:#ECEFF1;
	border-radius:0.5em;
	border-bottom-left-radius: 0;
	background: #aaa;
	text-align: left;
/*
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	box-shadow: 0 16px 10px rgba(0, 0, 0, 0.1);
*/
/*
	position: relative;
*/
}

.ganzer_Kommentar{
	margin-top: 1%;
}